<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>network.federate.federated</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/federated</string>
        <string>--bootstrap</string>
        <string>https://federate.network</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/federated.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/federated.log</string>
</dict>
</plist>
